body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.card {
    color:white;
    background-color: #343a40!important;
}

img {
    transform: scale(0.8);
    border-radius: 8px;
}

.hide {
    display: none;
}

.addBtn {
    top: 100px;
}

.head {
    margin-top: 40px;
}

#addedAlertRes {
    position: fixed;
    top:40%;
    left: 40%;
    font-size: 20px;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    height:50px;
    z-index: 500;
}
#refresh {
    margin-bottom: 40px;
    margin-top: 20px;
}

#welcome {
    text-align: center;
}