body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#welcomeName {
    margin-top: 40px;
    text-align: center;
    font-size: 4em;
}

#displayTitle {
    text-align: center;
    margin-top: 40px;
}


.hide {
    display: none;
}

th {
    font-size: 30px;
}

#addedAlertRes {
    position: fixed;
    top:40%;
    left: 40%;
    font-size: 20px;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    height:50px;
    z-index: 500;
}