body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 2em;
}

.navbar {
    background-color: darkgray;
    margin-bottom: 30px;
}

th {
    font-size: 20px;
}
img {
    transform: scale(0.8);
    border-radius: 8px;
}

.modal {
    color: black;
}

.modal-header {
    text-align: center;
}